{% extends "admin/base.html" %}
{% load i18n grp_tags static %}

{% block title %}{{ title }} | {% get_site_title %}{% endblock %}

{% block blockbots %}
<meta name="robots" content="NONE,NOARCHIVE" />
{% if site_type == 'production' %}
<link rel="stylesheet" href="{% static 'helusers/css/grappelli_production.css' %}"/>
{% else %}
<link rel="stylesheet" href="{% static 'helusers/css/grappelli.css' %}"/>
{% endif %}
{% endblock %}

{% block branding %}
    {# Use the div#grp-branding for branding elements, e.g. a logo #}
    {# <div id="grp-branding"></div> #}
{% endblock %}

{% block nav-global %}{% endblock %}
