{% extends "admin/login.html" %}
{% load i18n static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'helusers/css/helusers.css' %}"/>
{% if password_login_disabled %}
<link rel="stylesheet" href="{% static 'helusers/css/password_login_disabled.css' %}"/>
{% endif %}
{% endblock %}

{% block content %}
{% if helsinki_provider_installed %}
<div id="helsinki-login">
    <p>Kirjaudu sisään Helsingin kaupungin työntekijän tunnuksella:</p>
    <div id="top-bottom-margins">
        <form method="post" action="{{ helsinki_login_url }}">
            {% csrf_token %}
            {% if redirect_path %}
            <input type="hidden" name="next" value="{{ redirect_path }}">
            {% endif %}
            {% if request.GET.ui_locales %}
            <input type="hidden" name="ui_locales" value="{{ request.GET.ui_locales }}">
            {% endif %}
            <input id="helsinki-login-btn" class="button" type="submit" value="Helsinki Login">
        </form>
    </div>
{% if not password_login_disabled %}
    <p>
        Jos sinulla on erilliset ylläpitotunnukset, kirjaudu sisään käyttäjätunnuksella
        ja salasanalla.
    </p>
{% endif %}
</div>
{% endif %}

{{ block.super }}

{% if request.user and request.user.is_authenticated and helsinki_logout_url %}
<form id="logout-form" method="post" action="{{ helsinki_logout_url }}">
    {% csrf_token %}
    <div class="submit-row">
        <input type="submit" value="{% translate "Log out" %}">
    </div>
</form>
{% endif %}

{% endblock %}
