{% extends "admin/login.html" %}
{% load static %}

{% block content %}
{% if tampere_provider_installed %}
<div id="tampere-login"{% if grappelli_installed %} style="display: none;"{% endif %}>
    <p>Kirjaudu sisään Tampereen kaupungin työntekijän tunnuksella:</p>
    <div style="margin-bottom: 2em; margin-top: 1em;">
        <a href="{{ tampere_login_url }}{% if redirect_path %}?next={{ redirect_path }}{% endif %}">
            <button style="margin-left: 9em; width: auto;" class="button grp-button grp-default" type="button">Tampere Login</button>
        </a>
    </div>
    <p>
        Jos sinulla on erilliset ylläpitotunnukset, kirjaudu sisään käyttäjätunnuksella
        ja salasanalla{% if grappelli_installed %}<a href="javascript:" id="credentials-toggle"> tästä</a>{% endif %}.
    </p>
</div>
{% endif %}
{{ block.super }}
{% if grappelli_installed %}
<script type="text/javascript">
(function() {
    var $ = grp.jQuery;

    var $credentialsForm = $("#id_password, #id_username, :submit").closest("div");
    var $credentialsToggle = $("#credentials-toggle");

    if ($(".errornote").length) {
        $credentialsToggle.remove();
    } else {
        $credentialsForm.hide();
    }

    $credentialsToggle.click(function() {
        $credentialsForm.show();
        $(this).remove();
    });

    $el = $("#tampere-login");
    $el.addClass('form-row grp-row');
    $el.prependTo($('div.module')).show();

})();
</script>
{% endif %}

{% endblock %}
